<div class="pl-16 pt-16 mb-32">
  <h4 class="mb-8">{{data?.title}}</h4>
  <p class="text-regular text-dark">{{data?.subtitle}}</p>
</div>

<div class="d-flex justify-content-end">

  <button class="button button_rounded button_transparent cursor-pointer pl-16 pr-16 pt-12 pb-12"
          (click)="onUserAction(yesNoEnum.decline)"
  >
    Ні
  </button>

  <button class="button button_rounded cursor-pointer ml-10 pl-16 pr-16 pt-12 pb-12"
          (click)="onUserAction(yesNoEnum.accept)"
  >
    Так
  </button>
</div>
