$main-bg: #9e65ff;

// fonts
$base-font-size: 16px;

$base-line-height: 24px;

$label-line-height: 16px;
$label-tiny-line-height: 8px;
$label-font-size: 14px;
$label-regular-font-size: 12px;
$label-small-font-size: 10px;
$label-tiny-font-size: 6px;

$heading-4-font-size: 26px;
$heading-4-line-height: 32px;

$heading-3-font-size: 28px;
$heading-3-line-height: 40px;

$heading-2-font-size: 48px;
$heading-2-line-height: 42px;

$heading-1-font-size: 52px;
$heading-1-line-height: 64px;

$caption-font-size: 12px;
$caption-line-height: 16px;
// fonts

// supporting
$info-primary: #4163DA;
$info-secondary: #ECEFFB;
$info-neutral: #4163DA;
$info-lightest: #ECEFFB;
$success-primary: #36BD3C;
$success-secondary: #ebf8ec;
$warning-primary: #FFB03A;
$warning-secondary: #FFF5E6;
$error-primary: #da5d41;
$error-lightest: #FBEFEC;
$error-neutral: #da5d41;
$error-secondary: #FBEFEC;
$border-color: #BABDF5;
// supporting

//primary & secondary
$primary-normal: #6367ad;
$primary-light: #969AE6;
$primary-lightest: #e5e7ff;
$secondary-normal: #59688B;
$secondary-light: #B0BBD6;
$secondary-lightest: #D5DCEB;
$primary-dark: #4A4E8E;
//primary & secondary

//grayscale
$grayscale-black: #242629;
$grayscale-darkest: #2D2F33;
$grayscale-dark: #4B4D52;
$grayscale-neutral: #939599;
$grayscale-light: #ECECEC;
$grayscale-lightest: #F6F6F6;
$grayscale-white: #FFFFFF;
//grayscale

