<section class="border border-radius_16 scrollable-container p-16 w-100"
         *ngIf="building$ | async as building"
>
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text_grayscale-dark mb-0">Загальні дані</h4>

    <div class="bg-info-lightest border-radius_8 cursor-pointer button-interaction_outlined
                w-32 h-32 d-flex align-items-center justify-content-center"
         (click)="openInputModal(building)"
    >
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#edit-icon'"
        [classes]="'icon icon_16 icon_primary-normal'"
      >
      </svg-icon-sprite>
    </div>
  </div>

  <div class="general-info-wrapper pt-16 d-flex flex-wrap">
    <div class="general-info-item">
      <p class="label-medium text_grayscale-neutral">Назва будівлі</p>
      <p class="text-regular text_grayscale-dark">{{building.name}}</p>
    </div>

    <div class="general-info-item">
      <p class="label-medium text_grayscale-neutral">Тип приміщення</p>
      <p class="text-regular text_grayscale-dark">{{building.buildingTypeName}}</p>
    </div>

    <div class="general-info-item">
      <p class="label-medium text_grayscale-neutral">Адреса</p>
      <p class="text-regular text_grayscale-dark">{{building.address}}</p>
    </div>

    <div class="general-info-item">
      <p class="label-medium text_grayscale-neutral">Міце розположення</p>
      <p class="text-regular color-primary cursor-pointer"
         (click)="openCard(building.locationCoordinates)"
      >
        {{building.locationCoordinates}}
      </p>
    </div>

    <div class="d-flex flex-column w-100 mt-32">
      <h6 class="mb-8 text_grayscale-neutral">Кількість осіб</h6>

      <div class="general-info-wrapper d-flex flex-wrap">
        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Студенти денної форми</p>
          <p class="text-regular text_grayscale-dark">{{building.studyingDaytime}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Студенти вечірньої форми</p>
          <p class="text-regular text_grayscale-dark">{{building.studyingEveningTime}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Студенти заочної форми</p>
          <p class="text-regular text_grayscale-dark">{{building.studyingPartTime}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Викладачі</p>
          <p class="text-regular text_grayscale-dark">{{building.workingTeachers}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Науковці</p>
          <p class="text-regular text_grayscale-dark">{{building.workingScience}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">НДЧ</p>
          <p class="text-regular text_grayscale-dark">{{building.workingHelp}}</p>
        </div>

        <div class="general-info-item">
          <p class="label-medium text_grayscale-neutral">Проживає</p>
          <p class="text-regular text_grayscale-dark">{{building.livingQuantity}}</p>
        </div>
      </div>
    </div>

    <!--<div class="d-flex flex-column w-100 mt-32">
      <h6 class="mb-8 text_grayscale-neutral">Відповідальні особи</h6>

      <div class="w-100 d-flex flex-wrap">
        <div class="general-info-item h-100 mt-0">
          <p class="label-medium text_grayscale-neutral">Відповідальний за експлуатацію</p>
          <div class="h-40 d-flex align-items-center"
               *ngIf="responsibleUser$ | async as user"
          >

            <div class="background-primary rounded-circle w-40 h-40 mr-8 d-flex align-items-center justify-content-center"
                 *ngIf="!user.photoUrl"
            >
              <svg-icon-sprite
                [src]="'assets/sprites/sprite.svg#person-icon'"
                [classes]="'icon icon_24 icon_grayscale-white'"
              >
              </svg-icon-sprite>
            </div>

            <img class="w-40 h-40 mr-8 rounded-circle"
                 *ngIf="user.photoUrl"
                 [src]="user.photoUrl"
                 alt=""
            >

            <span class="text-regular text_grayscale-dark mr-8">{{user.firstName}} {{user.lastName}}</span>

            <div class="bg-info-lightest border-radius_8 cursor-pointer button-interaction_outlined
                w-32 h-32 d-flex align-items-center justify-content-center">
              <svg-icon-sprite
                [src]="'assets/sprites/sprite.svg#eye-icon'"
                [classes]="'icon icon_16 icon_primary-normal'"
              >
              </svg-icon-sprite>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>
